/*
 uwagi - jak określać kolory w CSS
 *
 * albo podajecie nazwę koloru - spis nazw niektórych (a może wszystkich) kolorów jest np. tu:
 *
 *  https://www.w3schools.com/colors/colors_names.asp

 * ale tych kolorów jest jedynie 140

 * ale można też inaczej: https://www.w3schools.com/html/html_colors.asp
 * poczytać w sekcji "color values"
 *
 * do pobierania kodów można skorzysać np. z takiego narzędzia:
 *
 * https://colorpicker.me/#fbfbfb         <--- pobawcie się tym
 *
*/

@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
    font-family: 'Arial', sans-serif;
    color: white;
    box-sizing: border-box;
    line-height: 1.55;
}

a {
    text-decoration: none;
    color: white;
}

h2, h3 {
  text-transform: capitalize;
}

.przycisk {
  display: inline-block;
  background: white;
  width: 160px;
  height: 40px;
  text-align: center;
  padding: 10px;
}

.czarny {
  background-color: black;
  color: white;
}

.biały {
  background-color: white;
  color: black;
}

.aktywny {
  background-color: dimgray;
  color: burlywood;
}

.podświetl {
  color: burlywood;
}

.główka {
  height: 70px;
  background-color: black;
  display: flex;
  align-items: center;
}

.główka h2 {
  width: 50%;
  text-align: center;
}

.menu {
  width: 50%;
  height: 100%;
  padding-left: 200px;
  display: flex;
  align-items: center;
}

.menu-a {
  padding: 25px 10px;
  height: 100%;
}

.menu-a:hover {
  background-color: dimgray;
  color: burlywood;
}

.okno {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 650px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: gray;
}

.okno p, .okno h2 {
  text-align: center;
}

.okno h2 {
  font-size: 40px;
}

.historia {
  display: flex;
  height: 350px;
  background-color: rgb(43, 43, 43);
}

.historia h3 {
  font-size: 25px;
}

.historia-lewy,
.historia-prawy {
  width: 50%;
}

.historia-lewy {
  background-color: black;
}

.historia-prawy {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 30px 30px 50px 30px;
}

.historia-prawy p, .historia-prawy h3 {
  text-align: center;
}

.oferta {
  display: flex;
  height: 300px;
  color: black;
  background-color: silver;
}

.oferta h3 {
  font-size: 20px;
}

.oferta-lewy,
.oferta-środek,
.oferta-prawy {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 30px 30px;
}

.oferta-środek {
  background-color: burlywood;
}

.ikona {
  width: 50px;
  margin-bottom: 10px;
}

.stopka {
  height: 80px;
  background-color: rgb(43, 43, 43);
  text-align: center;
}
